{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Book O'CLOCK</h1>
            <p>북 어클락은 독서 기록을 도와주는 웹 서비스입니다. </p>
            <p>책을 좋아하는 분들을 위해 태어났습니다. 책과함께 많이 사랑해 주세요. </p>
        </div>

        <a class="btn btn-primary">Primary Button</a>
        <a class="btn btn-info">Info Button</a>
        <a class="btn btn-success">Success Button</a>
        <a class="btn btn-danger">Danger Button</a>
    </div>
{% endblock %}











