{% load bootstrap3 %}<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
    
    <div class="container">
        <div class="raw">
            <div class="col-sm-12">
                <form action="" method="post">
                    {% csrf_token %}

                    {# 한줄 주석#}

                    {% comment %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    {% end comment %}

                    {% bootstrap_form form %}

                    <input type="submit" class="btn btn-primary" value="submit" />
                </form>
            </div>
        </div>
    </div>

</body>
</html>
