{% load staticfiles %}<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>Book O'Clock</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css" />
<link rel="stylesheet" href="{% static "static.css" %}" />
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Book O'Clock</a>
        </div>
    </div>
</div>

{% if message %}
    {% for message in messages %}
        <div class="alert alert {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock %}

<div class="footer">
    <div class="container">
        <p class="text-muted">책과함께 하는 시간, 북어클락.</p>
    </div>
</div>

</body>
</html>
